<head>
    <link href="@Url.Content("~/Content/DevStyle.css")" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "DevInfo";
}


<h2>About me</h2>

<h3>
    <li>
        <a href="https://bitbucket.org/kredek/zawadzki_tomasz/src/master/" target="_blank">
            My bitbucket
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/tvmeq" target="_blank">
            My facebook
        </a>
    </li>
    <li>
        <a href="http://weka.pwr.edu.pl/" target="_blank">
            My faculty
        </a>
    </li>
    <img src="~/Content/BaseImages/ja.jpg"/>
</h3>

