
@{
    ViewBag.Title = "UserAlias";
}

<html>
<head>
    <title>Your alias</title>
</head>
<body>
    <br />
    <!-- Wyświetlanie powitania -->
    <div>
        <h3>
            I didn't expect, that i will ever meet @ViewBag.userAlias in my life
        </h3>
        <br />
        <a href="http://www.facebook.com/profile.php?=743264506123123">Isn't that you?</a>
    </div>
    <hr />
</body>
</html>

